[submodule "Motor Unit/Motor Board Rev3.cydsn/CANLib"]
	path = Motor Unit/Motor Board Rev3.cydsn/CANLib
	url = https://github.com/huskyroboticsteam/HindsightCAN.git
[submodule "Motor Unit/CANLib"]
	path = Motor Unit/CANLib
	url = https://github.com/huskyroboticsteam/HindsightCAN.git
